PORT=3000
SESSION_SECRET=upskill_elearning_super_secret_key_2026
DB_HOST=brpmyzvctg3z2haivjvk-mysql.services.clever-cloud.com
DB_PORT=3306
DB_USER=u7p6luzk2gh0aoiy
DB_PASSWORD=
DB_NAME=brpmyzvctg3z2haivjvk
MYSQL_URI=

